.div1{
    width: 80%;
    right: 80%;
    border: 2px black solid;
}

.imagem1{
    width: 10%;
    right: 10%;
    border: 2px palevioletred;
    float: left;
}

.imagem2{
    width: 10%;
    right: 10%;
    margin-left: auto;
    margin-right: auto;
}
.imagem3{
    width: 10%;
    right: 10%;
    position:absolute;
    top:0;
    right:0;
}
